<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
            
                <div class="header">
                        <h1>BankSearchApplication</h1>
                    </div>
                    <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select City
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                              <li><a href="#">Bnegulur</a></li>
                              <li><a href="#">Chennai</a></li>
                              <li><a href="#">Delhi</a></li>
                            </ul>
                          </div>
                    <div class="search">
                            
                            <p class="p">A list of banks in benguluru
                            &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;     &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                            <input class="searchfield" type="search"> &nbsp;<span class="glyphicon glyphicon-search"></span> &nbsp;&nbsp;<button type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-th-list"></span> 
                                  </button> &nbsp; <button type="button" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-download-alt"></span>
                                      </button></p>
                                 
                          
                           
                        </div>
                        
        
                        <div class="row">
                                <div class="col">
                                        <table class="table table-bordered table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <td colspan="7" class="bankdetails">
                                    Bank Details
                                                    </td>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <th class="col" id ="col"></th>
                                                <th class="text-center">Actions</th>
                                                <th class="text-center">BankName</th>
                                                <th class="text-center">IFSC</th>
                                                <th class="text-center">Bank ID</th>
                                            </tr>
                                    <tr>
                                        <td><a href="#"> city</a></td>
                                            <td class="text-center" id ="text"></td>
                                            <td class="text"></td>
                                            <td class="text"></td>
                                            <td class="text"></td>
                                    </tr>
                                    
                                        </table>
                                    </div>
                        </div>
                        
    </div>
</body>
</html>